

/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/* CSS Variables */
:root{
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity: 0.5;
}

/* Navigation Bar: Logo and Image */
#logo{
    margin: 10px 34px;
}

#logo img{
    height: 59px;
    margin: 3px 6px;
}


/* Navigation Bar: List Styling */

#navbar ul{
    display: inline-flex;
    font-family: 'Baloo Bhai', cursive;
}

#navbar ul li{ 
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 10px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}

h1{
    text-align: center;
    top: 50px;
    overflow: hidden;
    font-size: 60px;
    padding: 5px;
    color: rgb(233, 80, 20);
    background: bisque;
}

@media  only screen and (width:720px) {
    .webcast{
        width: 720px !important;
        height: 1520px !important;
    }
}